*{
    margin: 0;
    box-sizing: border-box;
    padding: 0;
}
.container{
    width: 1200px;
    margin: 0 auto;
}
.box{
    height: 100vh;
    position: relative;
}
.foto-model{
    height: 300px;
    background-size: cover;
    background-position: center;
}

.box-content{
    width: 400px;
    height: 400px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

body{
    font-family: 'Roboto', sans-serif;
}
.box-content img{
    height: 300px;
    width: 400px;
}
/* ----------------------------------------------------------- */
.link{
    position: fixed;
    z-index: 1;
    height: 50px;
    padding-top: 20px;
    right: 50px;
    width: 200px;
}

.link a{
    text-decoration: none;
    background-color: white;
    border-radius: 50px;
    padding: 5px 10px;
    text-align: right;
    color: black;
    margin-right: 8px;
}
.box1{
    background: red;
}
.box2{
    background: green;
}
.box3{
    background: yellow;
}

.box-content h1{
    color: #fff700;
    text-align: center;
    text-transform: uppercase;
}
.box-content2 h1{
    color: green;
}
